<mat-toolbar color="primary" class="d-flex justify-content-between ">

    <div class="d-flex align-items-center">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" routerLink="/home">
            <mat-icon style="font-size: 1.6rem;">supervised_user_circle</mat-icon>
        </button>

        <h1 routerLink="/home" style="cursor: pointer">Pesona Spot</h1>
    </div>
    <a style="background: transparent; border: none; box-shadow: none;" mat-raised-button
        routerLink="/pessoa">Pessoas</a>
</mat-toolbar>

<router-outlet style="padding: 30px;"></router-outlet>
